/* === Table Colors === */
table.datatable th,
table.datatable td {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}

/* === Header Colors === */
table.datatable thead th {
    background-color: #816E94 !important;
    color: #F7F7FF !important;
}

/* === Pagination (default) === */
ul.pagination .page-link {
    background-color: #E6D6EC;
    color: #5a2a1e;
    border-color: #BA7BA1;
}

/* === Pagination (hover) === */
ul.pagination .page-link:hover {
    background-color: #816E94;
    color: #fff;
}

/* === Pagination (active) === */
ul.pagination .active .page-link {
    background-color: #816E94;
    color: #fff;
    border-color: #816E94;
}

/* === Select & Search Input Color === */
select.form-select.form-select-sm,
input.form-control.form-control-sm[type="search"] {
    background-color: #f7f7ff;
    color: black;
    border-color: #816E94;
}