@{
    ViewData["Title"] = "Home Page";
}


<div class="hero-container">
	<img src="/images/happy-old-man.png" alt="Banner" class="fullscreen-banner" />
	<h2 class="hero-text titleFont">Welcome</h2>
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/home.css" />
}