@using Microsoft.AspNetCore.Html
@model CourseProject.Models.Popover

<button type="button"
        class="btn btn-link p-0 text-decoration-none"
        data-bs-toggle="popover"
        data-bs-trigger="hover focus"
        data-bs-content="@Model.Content"
        @(string.IsNullOrEmpty(Model.Title) ? "" : new HtmlString($"title=\"{Model.Title}\""))>
    ❔
</button>